{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Your uploaded files 
</h1>
<h2 class="subtitle">view limited to 100 files - query to filter</h2>

<form action="/files" id="query_form">
  {% if query_string  %}
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input is-rounded" type="text" value="{{q}}" name="query_string" >
      </p>
      <p class="control">
        <a href="/files"><div class="icon is-medium"><i class="fas fa-trash"></i></div></a>
      </p>
    </div>
  {% else %}
    <input class="input is-rounded" type="text" placeholder="query" name="q">
  {% endif %}
</form>
<br>

<ul>
{% for file in files %}
  <li>
    <a href="{{ url_for('files.files_download', file_id=file._id) }}" target="new">{{ file.filename }}</a>
    <a href="{{ url_for('files.files_download', file_id=file._id) }}" target="new"><i class="fas fa-download"></i></a>
    <a href="{{ url_for('files.files_qrcode', file_id=file._id) }}" target="new"><i class="fas fa-qrcode"></i></a>
  </tr>
{% endfor %}
</ul>

{% endblock %}
