{% extends "base.html" %}

{% block content %}
<h1 class="title">
  simple web app
</h1>
<h2 class="subtitle">
  basics for every web app
</h2>

<p><p>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image"><figure class="image is-4by3"><img src="https://images.unsplash.com/photo-1526948531399-320e7e40f0ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"></figure></div>    
      <div class="card-content"><p class="title" style="color:gray">{{num_users}}</p><p class="subtitle" style="color:gray">users</p></div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image"><figure class="image is-4by3"><img src="https://images.unsplash.com/photo-1562240020-ce31ccb0fa7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"></figure></div>    
      <div class="card-content"><p class="title" style="color:gray">{{num_files}}</p><p class="subtitle" style="color:gray">files</p></div>
    </div>
  </div>
</div>


{% endblock %}
