{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Upload files
</h1>

<p>
{% with messages = get_flashed_messages() %}
{% if messages %}
		{% for message in messages %}
      <div class="notification is-info">
        <button class="delete"></button>
        {{ message }}
      </div>
		{% endfor %}
{% endif %}
{% endwith %}
</p>

<form method="post" action="/upload" id="upload_form" enctype="multipart/form-data">
<div class="file is-boxed is-centered">
  <label class="file-label">
    <input class="file-input" type="file" name="file" id="file_uploader" onchange="upload_form.submit(); this.disabled=true; ">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
  </label>
</div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        $notification = $delete.parentNode;
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script> 
{% endblock %}
